* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav {
    width: 100%;
    background-color: black;
    height: 85px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar #icon {
    color: white;
    cursor: pointer;
    font-size: 30px;
    display: none;
}
nav h3 {
    font-weight: bolder;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 30px;
}

nav ul {
    color: white;
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 15px;
}

nav li a {
    font-size: 15px;
    padding: 10px;
    border-radius: 33px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

nav li a.active {
    color: white;
}

nav li a:hover {
    background: linear-gradient(90deg, #e52e71, #ff8a00);
    color: white;
}

.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    padding: 40px;
}

.header h1 {
    font-weight: bolder;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
section {
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .contianer {
    background: #2c2c2c;
    width: 75vw;
    padding: 95px;
    border-radius: 33px;
}

section .contianer h3 {
    font-weight: bolder;
    background: linear-gradient(90deg, #e52e71, #ff8a00);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 30px;
    margin-bottom: 25px;
}

section .contianer p {
    color: white;
    font-weight: lighter;
}

@media screen and (max-width: 800px) {
    .nav-bar #icon {
        display: block;
    }
    
    .nav-bar ul{
        position: fixed;
        width: 70%;
        height: 90vh;
        background: #2c2c2c;
        top: 80px;
        right: -100%;
        text-align: center;
        padding-top: 25px;
        transition: all .5s ease-in-out;
        border-radius: 33px 0 0 33px;
   }
    .nav-bar li {
        display: block;
        margin-bottom: 35px;
    }

    .nav-bar li a {
        font-size: 20px;
    }

    .nav-bar li a:hover {
        color: white;
        background: linear-gradient(90deg, #e52e71, #ff8a00);
    }
    section .contianer {
        padding: 30px;
    }

    section .contianer p {
        width: 100%;
    }

    .nav-bar ul.show {
        right: 0;
    }
}